<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title><%= h(@page_title) %></title>

  <link href="http://<%= hostname %>/feed" rel="alternate" title="Feed for <%= h(CONFIG['blog']['title']) %>" type="application/atom+xml" />
  <link href="http://<%= hostname %>/feed/comments" rel="alternate" title="Comments for <%= h(CONFIG['blog']['title']) %>" type="application/atom+xml" />
  <% if @post %>
  <link href="http://<%= hostname %>/<%= @post.id %>/feed" rel="alternate" title="Feed for comments on article &ldquo;<%= h(@post.title) %>&rdquo; <%= h(CONFIG['blog']['name']) %>" type="application/atom+xml" />
  <% end %>


  <link rel="stylesheet" href="/stylesheets/reset.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="/stylesheets/text.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="/stylesheets/960.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="/stylesheets/ill.css" type="text/css" media="screen" />
  <script src="/javascripts/application.js" type="text/javascript" charset="utf-8"></script>
	<script src="/javascripts/code_highlighter.js" type="text/javascript" charset="utf-8"></script>
	<script src="/javascripts/ruby.js" type="text/javascript" charset="utf-8"></script>
	
</head>

<body>

  <div class="container_12">
		<div class='grid_10 prefix_1 suffix_1'>
			<div class='header'>
				<h1><a href='/'><span class='rails'>Rails</span> Illustrated</a></h1>
				Rails and the User Experience
				<a href='/feed' class='image'><img src='/images/rss_large.gif' class='rss'/></a>
			</div>
		</div>
		<div class='grid_7 prefix_1 alpha'>
  		<%= yield %>
		</div>		

		<div class='grid_3 suffix_1 omega'>
			<!-- sidebars -->
			
			<div class='sidebar'>
				<h2><img src='/images/flourish-l.gif'/>Posts<img src='/images/flourish-r.gif'/></h2>
				<ul>
				<% Marley::Post.published.each do |post| %>
				<li><a href="/<%= post.id %>.html"><%= post.title %></a></li>
				<% end %>
				</ul>
			</div>
			
			<div class='sidebar'>
			<h2><img src='/images/flourish-l.gif'/>About<img src='/images/flourish-r.gif'/></h2>
			<p>Ruby on Rails, User Experience Design and all the fun that lies in between.
			This blog is written by Erik Andrejko</p>
			Contact me:
			<script language=javascript>
			<!--
			var un = "eandrejko";
			var hn = "gm" + "ail." + "c" + "om";
			var linktext = un + "@" + hn;
			document.write("<a href=" + "ma" + "il" + "to:" + un +
			"@" + hn + ">" + linktext + "</a>")
			//-->
			</script>
			</div>
		</div>
		<div class='grid_10 prefix_1 suffix_1'>
			<div class='footer'>
			&copy;2008 Erik Andrejko
			Powered by <a href="http://www.restafari.org/introducing-marley.html">Marley</a> on <a href="http://sinatra.rubyforge.org/">Sinatra</a> on <a href="http://www.ruby-lang.org/en/">Ruby</a>.
			Contact me:
			<script language=javascript>
			<!--
			var un = "eandrejko";
			var hn = "gm" + "ail." + "c" + "om";
			var linktext = un + "@" + hn;
			document.write("<a href=" + "ma" + "il" + "to:" + un +
			"@" + hn + ">" + linktext + "</a>")
			//-->
			</script>
			</div>
		</div>
  </div><!-- /container -->

  <% if CONFIG['ga_code'] && Sinatra.env == :production %>
  <script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
  var pageTracker = _gat._getTracker("<%= CONFIG['ga_code'] %>");
  pageTracker._trackPageview();
  </script>
  <% end %>

</body>
</html>
