<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title><%= h(@page_title) %></title>

  <link href="http://<%= hostname %>/feed" rel="alternate" title="Feed for <%= h(CONFIG['blog']['title']) %>" type="application/atom+xml" />
  <link href="http://<%= hostname %>/feed/comments" rel="alternate" title="Comments for <%= h(CONFIG['blog']['title']) %>" type="application/atom+xml" />
  <% if @post %>
  <link href="http://<%= hostname %>/<%= @post.id %>/feed" rel="alternate" title="Feed for comments on article &ldquo;<%= h(@post.title) %>&rdquo; <%= h(CONFIG['blog']['name']) %>" type="application/atom+xml" />
  <% end %>


  <link rel="stylesheet" href="/stylesheets/reset.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="/stylesheets/text.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="/stylesheets/960.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="/stylesheets/ill.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="/stylesheets/zenburn.css" type="text/css" media="screen" />
	<script src="http://ajax.googleapis.com/ajax/libs/prototype/1.6.0.3/prototype.js" type="text/javascript" charset="utf-8"></script>
	
  <script src="/javascripts/application.js" type="text/javascript" charset="utf-8"></script>
	<script src="/javascripts/highlight.pack.js" type="text/javascript" charset="utf-8"></script>
	
</head>

<body>

  <div class="container_12">
		<div class='grid_10 prefix_1 suffix_1'>
			<div class='header'>
				<h1><a href='/'><span class='rails'>Rails</span> Illustrated</a></h1>
				Rails, Web Design and the User Experience
				<a href='/feed' class='image'><img src='/images/rss_large.gif' class='rss'/></a>
			</div>
		</div>
		<div class='grid_7 prefix_1 alpha'>
  		<%= yield %>
		</div>		

		<div class='grid_3 suffix_1 omega'>
			<!-- sidebars -->
			
			<div class='sidebar'>
				<h2><img src='/images/flourish-l.gif'/>Popular<img src='/images/flourish-r.gif'/></h2>
				<ul>
				<% Marley::TopPost.top.each do |post| %>
				<li><a href="/<%= post.post_id %>.html"><%= Marley::Post.find_one(post.post_id, :only => ['title']).title %></a></li>
				<% end %>
				</ul>
			</div>

			<div class='sidebar'>
				<h2><img src='/images/flourish-l.gif'/>Screencasts<img src='/images/flourish-r.gif'/></h2>
				<ul>
				<% Marley::Post.screencasts.each do |post| %>
				<li><a href="/<%= post.id %>.html"><%= Marley::Post.find_one(post.id, :only => ['title']).title %></a></li>
				<% end %>
				</ul>
			</div>

			<div class='sidebar'>
				<h2><img src='/images/flourish-l.gif'/>Recent<img src='/images/flourish-r.gif'/></h2>
				<ul>
				<% Marley::Post.published.each do |post| %>
				<li><a href="/<%= post.id %>.html"><%= post.title %></a></li>
				<% end %>
				</ul>
			</div>

			<div class='sidebar'>
				<a href="http://railsanalysis.com"><img src='/images/200-railsanalysis-ad.jpg'></a>
			</div>
			
			<div class='sidebar'>
				<h2><img src='/images/flourish-l.gif'/>On Design<img src='/images/flourish-r.gif'/></h2>
				<div id="quote">
				  <script type="text/javascript" src="http://quotesondesign.com/api/api.js"></script>
				<noscript>
					For a quote on design see <a href="http://quotesondesign.com/">quotesondesign.com</a>.
				</noscript>
				</div>
			</div>
			
			<div class='sidebar'>
			<h2><img src='/images/flourish-l.gif'/>About<img src='/images/flourish-r.gif'/></h2>
			<img src="http://gravatar.com/avatar/<%= Digest::MD5.hexdigest('eandrejko@gmail.com') + "?s=100"%>" style='float: right; margin-left: 5px;'/>
			<p>Ruby on Rails, User Experience Design and all the fun that lies in between.
			This blog is written by Erik Andrejko.
			<a href="http://twitter.com/eandrejko" class='image'><img src="http://twitterbuttons.com/images/ex/twit1.gif" title="By: TwitterButtons.com" width="144" height="30" /></a>
			</p>
			Contact me:
			<script language=javascript>
			<!--
			var un = "erik";
			var hn = "rails" + "ill" + "ustrated." + "c" + "om";
			var linktext = un + "@" + hn;
			document.write("<a href=" + "ma" + "il" + "to:" + un +
			"@" + hn + ">" + linktext + "</a>")
			//-->
			</script>.
			
			</div>
		</div>
		<div class='grid_10 prefix_1 suffix_1'>
			<div class='footer'>
			&copy;2008-2009 Erik Andrejko
			Powered by <a href="http://www.restafari.org/introducing-marley.html">Marley</a> on <a href="http://sinatra.rubyforge.org/">Sinatra</a> on <a href="http://www.ruby-lang.org/en/">Ruby</a>.
			Contact me:
			<script language=javascript>
			<!--
			var un = "erik";
			var hn = "rails" + "illustrated." + "c" + "om";
			var linktext = un + "@" + hn;
			document.write("<a href=" + "ma" + "il" + "to:" + un +
			"@" + hn + ">" + linktext + "</a>")
			//-->
			</script>.
			</div>
		</div>
  </div><!-- /container -->

  <% if CONFIG['ga_code'] && Sinatra.env == :production %>
  <script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
  var pageTracker = _gat._getTracker("<%= CONFIG['ga_code'] %>");
  pageTracker._trackPageview();
  </script>
  <% end %>

  <script type="text/javascript">
    hljs.initHighlightingOnLoad();
  </script>

</body>
</html>
